body {
    display: flex;
}
div {
    height: 2rem;
    width: 2rem;
}

.row {
    border-width: 1px 1px 0 1px;
    border-color: #000;
    border-style: solid;
}

.row:last-child {
    border-width: 1px;
}

.draw {
    background-color: #000;
}

.erase {
    background-color: #fff;
}