body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #9a8c98;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: rgb(97, 97, 97);
}

main {
    /* height: 500px; */
    width: 100%;
    background-color: #9a8c98;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
}

#cityName {
    font-weight: 800;
    font-size: 2rem;
}

nav {
    padding: 2rem 0;
    height: min-content;
    width: 100%;
    /* background-color:lemonchiffon; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #9a8c98; */
}

.weather {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    align-content: left;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 0 2rem;
    color: #fff;
}

.clima {
    font-size: 8rem;
}

.temp {
    font-size: 2rem;
}

#conditions1, #conditions2 {
    font-family: 'Merriweather', serif;
    
}

.weather div {
    padding-top: 1.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
}

#conditions1 {
    padding-top: 1.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
}

#conditions2 {
    font-size: 1.2rem;
    font-weight: 400;
    
}

#cityName {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    opacity: 0.9;
}

#searchCity {
    padding: 0.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border: none
}

#search {
    padding: 0.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: none;
}

@media (min-width: 800px) {
    body {
        /* background-color: blueviolet; */
    }
}

.style-clouds {
    background-color: #cdb4db;
    /* background: rgb(205,180,219); */
    background: rgb(205,180,219);
    background: linear-gradient(0deg, rgba(205,180,219,1) 0%, rgba(154,140,152,1) 100%);
}

.style-clear {
    background-color: #a2d2ff;
}

.style-rain {
    background-color: #bde0fe;
}

.style-haze {
    background-color: #ffc8dd;
}

.style-snow {
    background-color: #edede9;
}
